<!DOCTYPE html>

<!--refrences thymeleaf namespaces and provides thymeleaf extensions to this document-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Spring Framework Guru</title>
    </head>
    <body>
        <h1>Author List</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>

        <!--This is how we are asking the model to give the properties of books
        we refrence the thymeleaf and then call the attribute name of the model
        created in the controller-->

        <tr th:each="author : ${authors}">
            <td th:text="${author.id}">123</td>
            <td th:text="${author.firstName}">Spring in Action</td>
            <td th:text="${author.lastName}">Wrox</td>
            

        <!--thyme leaf will render this row of elements found in the model for view -->
        <!--replacing the elements with references to ID to gather information from 
        book repository-->
        <!--Publisher is a little different because it is not a book object but its own-->
        </tr>
    </table>
    </body>
</html>